.admin-page__login {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #abb8c3;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.admin-page__login p {
  color: red;
  margin-bottom: 10px;
  font-size: 18px;
}

.login-input {
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.admin-page__login .admin-page__login-submit {
  padding: 5px 15px;
  background-color: #3aff2c;
  cursor: pointer;
}

/* //////////////////////////////////////////////////// */

/* . {
  padding: 5px 10px;
  border-radius: 10px;
} */

.user-results {
  padding: 20px;
  background-color: #bfbfbf;
}

.user-results a {
  padding: 5px;
  text-decoration: none;
  color: #333;
  transition: color 0.1s ease, box-shadow 0.2s ease;
  /* Додати плавний перехід для кольору тексту та тіні */
  box-shadow: 0 0 0 transparent;
  /* Початкова тінь */
  transition: color 0.1s ease, box-shadow 0.2s ease;
  /* Додати плавний перехід для кольору тексту та тіні */
  box-shadow: 0 0 0 transparent;
  /* Початкова тінь */
}

.user-results a:hover {
  color: #0e0d0d;
  background-color: #e2e2e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Тінь на 5 пікселів з прозорістю */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Тінь на 5 пікселів з прозорістю */
}

.result-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.result-item__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}

.result-item__info img {
  width: 25px;
  height: 25px;
}

.short-description {
  min-width: 320px;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: #7c7b7b;
  font-size: 14px;
  font-style: italic;
  text-overflow: ellipsis;
}

.result-item__info .full-description {
  min-width: 250px;
  position: relative;
  display: none;
  background-color: #ffffff;
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 150px;
}

result-item__title{
  width: 400px;
  width: 400px;
}

.short-description:hover ~ .full-description,
.full-description:hover,
.full-description:focus-within {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 50px;
  margin-left: 450px;
}

.full-description textarea {
  font-family: sans-serif;
  font-weight: 400;
  outline: none;
  border: 1px solid #000000;
  min-width: 250px;
  min-height: 100px;
}

.admin-page__container{
  display:flex;
  flex-direction:column;
  align-items: center;
  
}

.admin-page__change-description {
  color: #fff;
  background-color: #61cc83;
  border-color: #61cc83;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.admin-page__change-description:hover {
  background-color: #3bc767;
  border-color: #3bc767;
}

.admin-page__change-description:disabled {
  background-color: #6cff9b;
  border-color: #6cff9b;
  cursor: wait;
}

.admin-page__change-visibility {
  color: #fff;
  border-color: #61cc83;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.admin-page__change-visibility:hover {
  /* background-color: #3bc767; */
  border-color: #3bc767;
}

.delete-check-box{
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.admin-page__delete {
  color: #fff;
  background-color: #eea1a9;
  border-color: #db4957;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.admin-page__delete:hover {
  background-color: #dc3545;
  border-color: #df071d;
}

.test-body__task-number {
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.test-body__task-question {
  background-color: #ffffff;
  visibility: visible;
  overflow: visible;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.test-body__task-question img {
  width: 100%;
  max-width: max-content;
}

.selectors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.selector {
  width: 200px;
}
.selector select,
input {
  width: 200px;
  margin-bottom: 10px;
}

/* 
.task-item {
  background-color: #d3d3d3;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
} */

/* .answers-block__answer.active .task-item {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
  width: auto;
  padding: 10px 10px;
  margin-top: 10px;
} */

.admin-page__users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: #ccc;
  margin-top: 10px;
}

.admin-page__users-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}

.admin-page__user-current-test-progress {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.admin-page__user-current-test-progress-item {
  border: solid 1px #ffaaaa;
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-page__user-current-test-progress-item.active {
  background-color: #71a3ff !important;
  border-radius: 5px;
}

.admin-page__user-current-test-progress-item.passed {
  background-color: #7ffa60;
}

.admin-page__refresh-button {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  cursor: pointer;
}

.test-body__task-question {
  background-color: #ffffff;
  visibility: visible;
  overflow: visible;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.test-body__task-question img {
  width: 100%;
  max-width: max-content;
}



/* 
.task-item {
  background-color: #d3d3d3;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
} */

/* .answers-block__answer.active .task-item {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
  width: auto;
  padding: 10px 10px;
  margin-top: 10px;
} */

.admin-page__users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: #ccc;
  margin-top: 10px;
}

.admin-page__users-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.result-item__name_block{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.admin-page__users-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #eee;
}

.admin-page__users-test {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.admin-page__user-current-test-progress {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.admin-page__user-current-test-progress-item {
  border: solid 1px #ffaaaa;
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-page__user-current-test-progress-item.active {
  background-color: #71a3ff !important;
  border-radius: 5px;
}

.admin-page__user-current-test-progress-item.passed {
  background-color: #d1fdc6;
}

.admin-page__refresh-button {
  height: 50px;
  width: 400px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  /* font-width:bold; */
  color:white;
}

.reset-filters{
  background-color: #fbd3d3;
}

.result-span {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  /* border: 1px solid rgb(219, 219, 219); */
  border-radius: 10px 0px;
  padding: 5px 15px;
  color: white;
  /* font-size: 18px; */
  width: 100px;
  
}

.selectors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.selector {
  width: 250px;
}
.selector select,
input {
  width: 250px;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #999999;

}

.sort-buttons, .export-buttons {
  
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.sort-buttons button {
  font-size: 16px;
  width: 250px;
  
}

.export-buttons button {
  font-size: 16px;
  width: 250px;
  
}



.exportMarkToExcel{
  
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.export-block{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  padding: 10px 10px;
  
}

.export-block .test-check-box {
  margin: 0;
  width: 40px;
  height: 20px;
  border: 1px solid #000;
  /* padding: 10px; */
  border-radius: 5px;  
}

.export-block .column-width {  
  border: 1px solid #d4d4d4;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  
}

.export-block li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  /* padding: 10px 10px; */
  border-radius: 5px;

}

.collapsed {
  display: none;
}

/* Аналітика тестів */
.analytics-table {
  width: 100%;
  border-collapse: collapse;
}

.analytics-table td:nth-child(5) {
  width: 700px;
}

.analytics-table th, .analytics-table td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
}

.analytics-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* аналітика тестів */
.test-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}

.test-section h3{
  margin: 0;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border: #ccc solid 1px;
  box-shadow: #ccc 0px 0px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.test-section a{
  text-decoration: none;
  color: #333;
  transition: color 0.1s ease, box-shadow 0.2s ease;
  /* Додати плавний перехід для кольору тексту та тіні */
  box-shadow: 0 0 0 transparent;
  /* Початкова тінь */
}