.admin-page__login {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #abb8c3;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.admin-page__login p {
  color: red;
  margin-bottom: 10px;
  font-size: 18px;
}

.login-input {
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.admin-page__login .admin-page__login-submit {
  padding: 5px 15px;
  background-color: #3aff2c;
  cursor: pointer;
}

/* //////////////////////////////////////////////////// */

.admin-page__header {
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #abb8c3;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.admin-page__select {
  padding: 5px 10px;
  border-radius: 10px;
}

.admin-results {
  padding: 20px;
  background-color: #bfbfbf;
}

.admin-results a {
  padding: 5px;
  text-decoration: none;
  color: #333;
  transition: color 0.1s ease, box-shadow 0.2s ease;
  /* Додати плавний перехід для кольору тексту та тіні */
  box-shadow: 0 0 0 transparent;
  /* Початкова тінь */
}

.admin-results a:hover {
  color: #0e0d0d;
  background-color: #e2e2e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Тінь на 5 пікселів з прозорістю */
}

.general-user-block {
  padding: 5px 5px;
  background-color: #a7a7a7;
  border-radius: 10px;
}

.general-user-block:not(:last-child) {
  margin-bottom: 20px;
}

.admin-results .result-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
}

.admin-results .result-item:not(:last-child) {
  margin-bottom: 15px;
}

.admin-results .result-item__title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  justify-self: self-start;
  display: flex;
  width: 600px;
}

.admin-results .result-item__title a {
  width: 100%;
}

.admin-results .result-item__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-items: center;
  grid-template-columns: 0.1fr 1.1fr 1.5fr 0.4fr 0.3fr;
}

.result-item__info img{
  width: 40px;
  height: 40px;
}
.result-item__info .short-description {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: #7c7b7b;
  font-size: 16px;
  text-overflow: ellipsis;
  justify-self: self-start;
  text-align: left;
  align-self: start;
}
.result-item__info .full-description {
  min-width: 250px;
  position: relative;
  display: none;
  background-color: #ffffff;
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 150px;
  
}

.short-description:hover ~ .full-description, .full-description:hover, .full-description:focus-within {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 50px;
  margin-left: 450px;
}

.full-description textarea {
  font-family: sans-serif;
  font-weight: 400;
  outline: none;
  border: 1px solid #000000;
  min-width: 250px;
  min-height: 100px;
}

.admin-page__change-description {
  color: #fff;
  background-color: #61cc83;
  border-color: #61cc83;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.admin-page__change-description:hover {
  background-color: #3bc767;
  border-color: #3bc767;
}

.admin-page__change-description:disabled{
  background-color: #6cff9b;
  border-color: #6cff9b;
  cursor: wait;
}

.admin-results .result-item__info button {
  margin-top: 0px;
}

.admin-results .result-item__name {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.admin-results .result-item__id,
.result-item__date {
  color: #7c7b7b;
  font-size: 16px;
  width: 200px;
}

.admin-results .result-item__score {
  margin-top: 5px;
  background-color: #d7e9ca;
  max-width: max-content;
  padding: 3px 7px;
  border-radius: 10px;
  cursor: pointer;
}

.admin-results .result-item__score:hover {
  background-color: #bbdd95;
}

.answers-block {
  border-radius: 20px;
  background-color: #d3d3d3;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.admin-results .result-item.active .answers-block {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
  width: auto;
  padding: 10px 10px;
  margin-top: 10px;
}

.answers-block .answers-block__answer:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.answers-block .answers-block__answer {
  padding: 10px 5px;
}

.answers-block__answer-text {
  background-color: #bfbfbf;
  border-radius: 10px;
  cursor: pointer;
}

.answers-block__answer-text .answers-block__answer-main {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.4s ease;
}

.answers-block__answer-text.active .answers-block__answer-main {
  overflow: visible;
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}

.answer_wrong {
  color: red;
}

.admin-page__change-visibility {
  color: #fff;
  /* background-color: #61cc83; */
  border-color: #61cc83;
  cursor: pointer;
  padding: 5px;
  /* margin-top: 10px; */
  border-radius: 5px;
  font-size: 14px;
}

.admin-page__change-visibility:hover {
  /* background-color: #3bc767; */
  border-color: #3bc767;
}

.admin-page__delete {
  color: #fff;
  background-color: #eea1a9;
  border-color: #db4957;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.admin-page__delete:hover {
  background-color: #dc3545;
  border-color: #df071d;
}

.test-body__task-number {
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.test-body__task-question {
  background-color: #ffffff;
  visibility: visible;
  overflow: visible;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.test-body__task-question img {
  width: 100%;
  max-width: max-content;
}

.selectors{
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.selector {
  width: 200px;
}
.selector select,input{
  width: 200px;
  margin-bottom: 10px;
}

/* 
.task-item {
  background-color: #d3d3d3;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
} */

/* .answers-block__answer.active .task-item {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
  width: auto;
  padding: 10px 10px;
  margin-top: 10px;
} */