/* https://www.flaticon.com/ru/packs/elearning-69 */

* {
  box-sizing: border-box;
}
.header {
  background-color: #b0c4de;
  padding: 10px;
}

@media (max-width: 426px) {
  .header__logo img {
    max-width: 150px;
  }
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__content > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 44px;
  transition: transform 0.3s ease; /* Додайте плавний перехід */
}
@media (max-width: 425px) {
  .header__img {
    width: 36px;
  }
}

.header__img:hover {
  transform: scale(1.1) rotate(3deg); /* Збільшити на 10% і повернути на 3 градуси */
}

.header__show-button {
  background-color: #a9c0df;
  width: 16px;
  height: 16px;
}

.header__admin-controlls {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hiden_admin_menu {
  /* display: none; */
  display: flex;
  flex-direction: row;
  gap: 10px;
}
