.main-page__header {
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #abb8c3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-page__buttons button {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.main-page__start-test {
  /* background-color: #3aff2c; */
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.main-page__tests-menu {
  padding: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: #abb8c3;
}

.tests-menu__section {
  background-color: #cedde9;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}
.tests-menu__section h3 {
  font-size: 20px;
  cursor: pointer;
}
.tests-menu__section .section-dropdown {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  margin: 0;
}
.tests-menu__section.opened .section-dropdown {
  width: auto;
  height: 100%;
  overflow: visible;
  opacity: 1;
  padding: 5px 10px;
}
.tests-menu__section.opened .section-dropdown .section-dropdown__item {
  margin-top: 10px;
  cursor: pointer;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.tests-menu__section.opened
  .section-dropdown
  .section-dropdown__item
  .test-check-box {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.15s ease-out 0s;
}
.tests-menu__section.opened
  .section-dropdown
  .section-dropdown__item:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: 1px solid #00000079;
}
.tests-menu__section:not(:last-child) {
  margin-bottom: 10px;
}

.main-page__login {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #abb8c3;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-page__login p {
  color: red;
  margin-bottom: 10px;
  font-size: 18px;
}

.main-page__login .form-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.main-page__login .main-page__login-submit {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  /* background-color: #3aff2c; */
  font-size: 18px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  cursor: pointer;
  border-radius: 5px;
}
