body,
html {
  font-family: sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 768px) {
  [class*="__container"] {
    max-width: 768px;
  }
}
@media (max-width: 426px) {
  [class*="__container"] {
    max-width: 768px;
  }
}

.d-none {
  display: none !important;
}

.up-title {
}
.title {
}
.text {
}

#userName {
  background-color: #11f944;
}
#login {
  background-color: #6acbea;
}

.button {
}

.button:hover {
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  max-width: 0 !important;
  max-height: 0 !important;
  padding: 0;
  margin: 0;
}
.visible {
  display: block !important;
}

.short-description {
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: #7c7b7b;
  font-size: 14px;
  font-style: italic;
}

/* попап */

.alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.alert-popup__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.alert-popup .close-popup {
  font-size: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.alert-popup__title {
  margin-bottom: 25px;
}
.alert-popup__list {
  margin-bottom: 30px;
}

.alert-popup__text {
  margin-bottom: 5px;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-form p {
  color: red;
  margin-bottom: 10px;
}
.password-form input {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
  text-align: center;
}

.password-form button {
  padding: 10px 15px;
  background-color: #d86711;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.resume-test__text {
  margin-bottom: 50px;
}

.resume-test__button {
  padding: 10px 15px;
  background-color: #d86711;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  cursor: pointer;
}

/* popup */

.popup {
  background-color: #0000006d;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-body {
  background-color: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  text-align: center;
}
.popup-main {
  margin-bottom: 10px;
}

.popup-main h2 {
  margin-bottom: 10px;
}

.popup-body__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-body__buttons .button {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.popup-body__buttons .button:not(:last-child) {
  margin-right: 20px;
}

/* .popup-body__buttons .buttons__button-yes {
  background-color: #42ca38;
  transition: 0.5s ease all;
}
.popup-body__buttons .buttons__button-yes:hover {
  background-color: #12f202;
}

.popup-body__buttons .buttons__button-no {
  background-color: #ca3838;
  transition: 0.5s ease all;
}
.popup-body__buttons .buttons__button-no:hover {
  background-color: #f20202;
} */

/* .abcRioButton {
  margin-top: 20px;
  box-shadow: none !important;
  border-radius: 5px !important;
  width: 400px !important;
  color: #000000 !important;
  display: flex !important;
}

.abcRioButton:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15) !important;
}

.abcRioButtonContentWrapper {
  display: flex;
  flex-grow: 0;
  justify-content: center;
}


.abcRioButtonContents {
  margin-top: 2px;
}

.abcRioButtonIcon {
  display: flex;
  align-items: end !important;
} */

.or {
  margin-top: 20px;
}

.g_id_signin {
  margin-top: 20px;
}

/* page */

.page__header {
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #abb8c3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.discord-button {
  display: block;
  background-color: #5865f2;
  width: 400px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  user-select: none;
}

.discord-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  margin-bottom: 2px;
}

.github {
  background-color: #080808;
}

/* answers styles */

.result-item .result-item__name {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  /* min-width: 330px; */
  max-width: 330px;
  width: 100%;
  /* margin-bottom: 5px; */
}

.result-item .result-item__title {
  color: #000;
  font-size: 14px;
  /* font-weight: 600; */
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
  min-width: 200px;
  overflow: hidden;
}

.result-item .result-item__title a {
  width: 100%;
}
.result-item .result-item__title span {
  margin-left: 3px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.result-item .result-item__id,
.result-item .result-item__date {
  color: #7c7b7b;
  font-size: 14px;
  width: 200px;
}

.result-item .result-item__score {
  /* margin-top: 5px; */
  background-color: #d7e9ca;
  font-size: 14px;
  min-width: 300px;
  padding: 3px 7px;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 425px) {
  .result-item .result-item__score {
    min-width: auto;
    max-width: 100%;
  }
}
.result-item .result-item__score:hover {
  background-color: #bbdd95;
}

.result-item .answers-block {
  border-radius: 20px;
  background-color: #d3d3d3;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.result-item.active .answers-block {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
  width: auto;
  padding: 10px 10px;
  margin-top: 10px;
}

.result-item .answers-block .answers-block__answer:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.result-item .answers-block .answers-block__answer {
  padding: 10px 5px;
}

.result-item .answers-block__answer-text {
  background-color: #bfbfbf;
  border-radius: 10px;
  cursor: pointer;
}

.result-item .answers-block__answer-text .answers-block__answer-main {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.4s ease;
}

.result-item .answers-block__answer-text.active .answers-block__answer-main {
  overflow: visible;
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}
/* kostil */
/* .result-item .answer_wrong { */
.answer_wrong {
  color: red;
}
.answer_wrong-with-bg {
  color: #8f1a1a;
  background-color: rgb(252, 206, 206)!important;
}
.result-item .test-body__task-question {
  background-color: #ffffff;
  visibility: visible;
  overflow: visible;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.result-item .test-body__task-question img {
  width: 100%;
  max-width: max-content;
}
