body,
html {
  font-family: sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 768px) {
  [class*="__container"] {
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  [class*="__container"] {
    max-width: 768px;
  }
}

.d-none {
  display: none !important;
}

.up-title {
}
.title {
}
.text {
}

#userName {
  background-color: #11f944;
}
#login {
  background-color: #6acbea;
}

.button {
}

.button:hover {
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  max-width: 0 !important;
  max-height: 0 !important;
  padding: 0;
  margin: 0;
}
.visible {
  display: block !important;
}

/* попап */

.alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.alert-popup__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.alert-popup .close-popup {
  font-size: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.alert-popup__title {
  margin-bottom: 25px;
}
.alert-popup__list {
  margin-bottom: 30px;
}

.alert-popup__text {
  margin-bottom: 5px;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-form p {
  color: red;
  margin-bottom: 10px;
}
.password-form input {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
  text-align: center;
}

.password-form button {
  padding: 10px 15px;
  background-color: #d86711;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.resume-test__text {
  margin-bottom: 50px;
}

.resume-test__button {
  padding: 10px 15px;
  background-color: #d86711;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  cursor: pointer;
}

/* popup */

.popup {
  background-color: #0000006d;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-body {
  background-color: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  text-align: center;
}
.popup-main {
  margin-bottom: 10px;
}

.popup-main h2 {
  margin-bottom: 10px;
}

.popup-body__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-body__buttons .button {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.popup-body__buttons .button:not(:last-child) {
  margin-right: 20px;
}

.popup-body__buttons .buttons__button-yes {
  background-color: #42ca38;
  transition: 0.5s ease all;
}
.popup-body__buttons .buttons__button-yes:hover {
  background-color: #12f202;
}

.popup-body__buttons .buttons__button-no {
  background-color: #ca3838;
  transition: 0.5s ease all;
}
.popup-body__buttons .buttons__button-no:hover {
  background-color: #f20202;
}
