.test-page__header {
  /* display: flex; */
  /* background-color: #000; */
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.start-test-form {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
}

.input-block {
  display: flex;
  flex-direction: column;
}
.input-block:not(:last-child) {
  margin-bottom: 10px;
}
.input-block label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.input-block input {
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  user-select: none;
}

.start-test-button {
  padding: 5px 10px;
  /* background-color: #3fff0f; */
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

/* play test */

/* таймер тесту */

.header__info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 875px;
  margin: 0 auto;
  margin-bottom: 15px;
  gap: 10px;
}
@media (max-width: 426px) {
  .header__info-row {
    flex-direction: column-reverse;
  }
}

.header__info-row .header__timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  /* border: 2px solid #ff611d; */
  border: 2px solid #f24e5e;
  border-radius: 10px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  background-color: #9fb4cf;
  color: #333232;
}
@media (max-width: 426px) {
  .header__info-row .header__timer {
    font-size: 20px;
    max-width: max-content;
    margin-bottom: 10px;
  }
  .header__info-row .header__timer img {
    max-width: 30px;
  }
}

.header__info-row .header__change-test {
  border: 1px solid #dc3545;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}
.header__info-row .header__change-test button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 426px) {
  .header__info-row .header__change-test {
    max-width: 300px;
  }
  .header__info-row .header__change-test button {
    padding: 10px 10px;
    font-size: 14px;
  }
}

.header__info-row .header__change-test button.active {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  cursor: pointer;
  /* padding: 10px 20px; */
  /* font-size: 16px; */
}

.test-wrapper .header-navigation {
  max-width: 875px;
  width: 95%;
  border-radius: 10px;
  border: 1.5px solid rgb(253, 84, 84);
  margin: 0 auto;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(25, 25px);
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;
}

.header-navigation .header-navigation__item {
  border: solid 1px #ffaaaa;
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-navigation .header-navigation__item.active {
  /*background-color: #71a3ff !important;*/
  border-radius: 5px;
  border: 4px solid #71a3ff !important;
}
.header-navigation .header-navigation__item.passed {
  background-color: #7ffa60;
}

/* кнопки до тесту */
.test-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.test-footer__button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}
@media (max-width: 426px) {
  .test-footer__button {
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 18px;
  }
}
.test-footer__submit {
  /* background-color: #4cee51; */
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.test-footer__finish {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  /* background-color: #f16c38; */
  display: none;
}

.test-footer__finish.visible {
  display: block;
}

/* тіло питання */

.test-body {
  border-radius: 10px;
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #c8c8c8;
  position: relative;
  margin-bottom: 50px;
}

.test-body .test-body__task-number {
  position: absolute;
  top: -20px;
  right: 0;
  background-color: #d0cfcf;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid rgb(253, 84, 84);
}
.test-body .test-body__task-number span {
  padding: 2px 2px;
  font-weight: 600;
}

.question-block {
}

.question-alert-info {
  color: rgb(211, 62, 62);
  margin-bottom: 20px;
  font-size: 16;
}

.question-text {
  font-size: 20px;
  margin-bottom: 15px;
}

.question-img {
  max-width: 900px;
  max-height: auto;
  margin-bottom: 20px;
}

.question-block img {
  width: 800px;
  max-width: 100%;
  height: auto;
}

.answers-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* answers table */

.answers-table {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  border-spacing: 10px;
}

.answers-table__option {
  /* border: 1px solid #120606; */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.answers-table__option {
  border: 1px solid #9a1818;
  width: 30px;
  height: 30px;
}

@media (max-width: 425px) {
  .answers-table {
    font-size: 16px;
  }
  input.answers-table__option {
    width: 25px;
    height: 25px;
  }

  .answers-table__option {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 375px) {
  .answers-table {
    font-size: 16px;
  }
  input.answers-table__option {
    width: 20px;
    height: 20px;
  }

  .answers-table__option {
    width: 20px;
    height: 20px;
  }
}

.digit {
  width: 200px;
  outline: none;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #000;
}

.enter-digit .answers-table__option {
  width: 200px;
}
.enter-digit input {
  width: 100%;
  height: 20px;
  outline: none;
  border: 1px solid #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.enter-digit-2 .answers-table__option {
  height: 20px;
  width: 100%;
  border: none;
}

.enter-digit-2 .answers-options-row input {
  /* width: 100px; */
  height: 20px;
  outline: none;
  border: 1px solid #000;
}

.enter-digit-2 .answers-options-row .answers-table__option {
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
}

.enter-digit-3 .answers-table__option {
  height: 20px;
  width: 100%;
  border: none;
}

.enter-digit-3 .answers-options-row input {
  /* width: 100px; */
  height: 20px;
  outline: none;
  border: 1px solid #000;
}

.test__page-result {
  font-size: 18px;
  text-align: center;
  background-color: #b0c4de;
  padding: 10px 15px;
  color: #000;
  font-weight: 500;
}

.test__page-return-to-main {
  max-width: max-content;
  padding: 10px 15px;
  background-color: #71a3ff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}

.name {
  font-size: 20px;
}

#selected_tests {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.test-page__results {
  background-color: #b0c4de;
  padding: 20px 10px;
  border-radius: 20px;
}
