.test-page__header {
  /* display: flex; */
  /* background-color: #000; */
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.start-test-form {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
}

.input-block {
  display: flex;
  flex-direction: column;
}
.input-block:not(:last-child) {
  margin-bottom: 10px;
}
.input-block label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.input-block input {
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  user-select: none;
}

.start-test-button {
  padding: 5px 10px;
  background-color: #3fff0f;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

/* play test */

.test-wrapper .header-navigation {
  max-width: 875px;
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid rgb(253, 84, 84);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(25, 25px);
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;
}

.header-navigation .header-navigation__item {
  border: #000 1px solid;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-navigation .header-navigation__item.active {
  background-color: #71a3ff;
}
.header-navigation .header-navigation__item.passed {
  background-color: #7ffa60;
}

/* кнопки до тесту */
.test-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.test-footer__button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}
.test-footer__submit {
  background-color: #4cee51;
}
.test-footer__finish {
  background-color: #f16c38;
}

/* тіло питання */

.test-body {
  border-radius: 10px;
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgb(71, 70, 70);
  position: relative;
}

.test-body .test-body__task-number {
  position: absolute;
  top: -20px;
  right: 0;
  background-color: #d0cfcf;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid rgb(253, 84, 84);
}
.test-body .test-body__task-number span {
  padding: 2px 2px;
  font-weight: 600;
}

.question-block {
}

.question-alert-info {
  color: rgb(211, 62, 62);
  margin-bottom: 20px;
  font-size: 16;
}

.question-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.question-img {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 20px;
}

.answers-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* answers table */

.answers-table {
  margin-top: 40px;
}

.answers-table__option {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.answers-table__option {
  border: 1px solid #9a1818;
  width: 20px;
  height: 20px;
}

.enter-digit .answers-table__option {
  width: 200px;
}
.enter-digit input {
  width: 100%;
  height: 20px;
  outline: none;
  border: 1px solid #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.enter-digit-2 .answers-table__option {
  height: 20px;
  width: 100%;
  border: none;
}

.enter-digit-2 .answers-options-row input {
  width: 100px;
  height: 20px;
  outline: none;
  border: 1px solid #000;
}

.enter-digit-2 .answers-options-row .answers-table__option {
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
}

.enter-digit-3 .answers-table__option {
  height: 20px;
  width: 100%;
  border: none;
}

.enter-digit-3 .answers-options-row input {
  width: 100px;
  height: 20px;
  outline: none;
  border: 1px solid #000;
}

.test__page-result {
  font-size: 18px;
  text-align: center;
  background-color: #b0c4de;
  padding: 10px 15px;
  color: #000;
  font-weight: 500;
}

.test__page-return-to-main {
  max-width: max-content;
  padding: 10px 15px;
  background-color: #71a3ff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}
